In [2]:

import requests
import pandas as pd
import settings

# create the url for the request
url = 'https://api.usa.gov/crime/fbi/sapi/api/arson/states/CA?api_key=%s' % (settings.fbi_key)

# make the get request
resp = requests.get(url).json()

# create a dataframe dictionary from the response
dfd = {
        'Year': [ x.get('data_year') for x in resp.get('results') ],
        'State': [ x.get('state_abbr') for x in resp.get('results') ],
        'Reported': [ x.get('reported') for x in resp.get('results') ] 
      }

# create the dataframe
df = pd.DataFrame(dfd)

df

    Year State  Reported
0   1995    CA     17512
1   1996    CA     18354
2   1997    CA     16224
3   1998    CA     14314
4   1999    CA     14775
5   2000    CA     14621
6   2001    CA     15258
7   2002    CA     14033
8   2003    CA     13645
9   2004    CA     12733
10  2005    CA     12313
11  2006    CA     12771
12  2007    CA     11534
13  2008    CA     10778
14  2009    CA      9220
15  2010    CA      7901
16  2011    CA      7236
17  2012    CA      7440
18  2013    CA      7492
19  2014    CA      7185
20  2015    CA      7434
21  2016    CA      7807
22  2017    CA      8688